#submit {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(75, 72, 72);
    color: white;
}

.input_required {
    color: red;
    font-size: 10px;
}